---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
import ProtectedRoute from '../components/ProtectedRoute.jsx';
import FestivalsPage from '../components/FestivalsPage.jsx';
---

<Layout title="Festivales - Festival&Friends">
  <Header client:only="react" />
  
  <ProtectedRoute client:load>
    <main class="min-h-screen pt-16">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8 content-area">
        <FestivalsPage client:load />
      </div>
    </main>
  </ProtectedRoute>
  
  <Footer client:load showDemo={false} />
</Layout>
 